@{
    ViewData["Title"] = "Access Denided";
}

<h1 class="text-center">Access Denided</h1>
<br />
<p class="text-center text-bg-danger">
    you are not Allowed to Visit this page
</p>
<br />
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Back to Main Page</a>   |   <a asp-controller="Accounts" asp-action="Logout" class="btn btn-outline-warning">Logout</a>
